# Ignore the Virtual Environment (if you used one)
venv/
env/

# Ignore Compiled Python files
__pycache__/
*.pyc

# Ignore Build Artifacts (from PyInstaller)
build/
dist/
*.spec

# Ignore Binaries (Too large for code repo)
*.exe
ffmpeg.exe

# Ignore VS Code settings (Optional)
.vscode/